<div
	class="{{ $pageRouteServ.pageObject.application.class + ' ' + $pageRouteServ.pageObject.personalInfo.class + ' ' + $pageRouteServ.pageObject.personalInfo.profile.class }}"
	ng-controller="application.personalInfo.profileCtrl as apppro"
	ng-show="
		$appServ.isUser &&
		$appServ.getUserInfo.applicationStatus == 'WA'
	">
	<div class="addedit dialogin">
		<div class="panel noborder">
			<div class="alert alert-info text-left">
				<div class="{{ $appServ.labelStyle }} regular f11" ng-bind-html="$appServ.getLabel(['application', 'personalInfo', 'profile', 'infoImportantRecommendMsg'])"></div>
			</div>
			<div
				class="panel-body page-body"
				ng-show="apppro.showForm">
				<div class="form">
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'titlePrefix']) }}
						</div>
						<div class="form-col input-col">
							<ui-select
								theme="select2"
								on-select="apppro.onSelectTitlePrefix($item)"
								ng-model="apppro.formField.titlePrefixSelected.selected">
								<ui-select-match>
									<span class="form-control inputbox {{ $appServ.labelStyle }} regular black f10">
										{{ ($select.selected.initials[$utilServ.lang] ? $select.selected.initials[$utilServ.lang] : "") }}
									</span>
									<span
										clearselect
										class="clearselect lang font-en regular gray f10"
										ng-click="
											apppro.formField.titlePrefixSelected.selected = undefined;
											apppro.onSelectTitlePrefix({})
										">
										<i class="fa fa-times-circle"></i>
									</span>
								</ui-select-match>
								<ui-select-choices repeat="titlePrefix in (apppro.formField.titlePrefix | filter: { selectFilter: $select.search } | orderBy: 'initials.EN' | limitTo: $utilServ.uiSelectLimit.show)">
									<span class="{{ $appServ.labelStyle }} regular f10">
										{{ titlePrefix.initials[$utilServ.lang] }}
									</span>
									<div ng-show="$utilServ.getSelectShowLoadMoreTemplate($index, $select.items, $select.search, apppro.formField.titlePrefix)">
										<a
											class="{{ $appServ.labelStyle }} regular white f12 btn loadmore"
											href="javascript:void(0)"
											ng-click="$utilServ.getSelectFetchData($select, $event)">
											{{ $appServ.getLabel(['msgPreloading', 'loadMore']) }}
										</a>
									</div>
								</ui-select-choices>
							</ui-select>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.titlePrefix
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'titlePrefixError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'firstName']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"
								textbox-transformed="uppercase"
								ng-model="apppro.formField.firstName" />
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.firstName
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'firstNameError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10">
							{{ $appServ.getLabel(['user', 'table', 'middleName']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"
								textbox-transformed="uppercase"
								ng-model="apppro.formField.middleName"
							/>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'lastName']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"
								textbox-transformed="uppercase"
								ng-model="apppro.formField.lastName"
							/>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.lastName
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'lastNameError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['application', 'table', 'birthDate']) }}
						</div>
						<div class="form-col input-col">
							<div
								datetimepicker
								class="input-group date"
								ng-init="datetimepickerOptions = $appServ.datetimepickerOptions"
								ng-model="datepickerBirthDate">
								<input
									textbox
									type="text"
									class="inputcalendar form-control inputbox font-en regular black f10"
									value=""
									ng-model="datepickerBirthDate.date"
								/>
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
							<div class="description {{ $appServ.labelStyle }} regular gray f11">
								{{ $appServ.getLabel(['dateFormat']) }}
							</div>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.birthDate
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'birthDateError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'gender']) }}
						</div>
						<div class="form-col input-col">
							<div
								class="radio-row"
								ng-repeat="gender in apppro.formField.gender">
								<ul>
									<li class="radio-col input-col">
										<input
											icheck
											type="radio"
											class="inputradio"
											name="gender"
											value="{{ gender.id }}"
											ng-model="apppro.formField.genderSelected"
										/>
									</li>
									<li class="radio-col label-col">
										<div class="label-tab">
											<span class="{{ $appServ.labelStyle }} regular black f10">
												{{ (gender.name[$utilServ.lang] | capitalize) }}
											</span>
										</div>
									</li>
								</ul>
							</div>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.gender
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'genderError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'nationality']) }}
						</div>
						<div class="form-col input-col">
							<ui-select
								theme="select2"
								ng-model="apppro.formField.nationalitySelected.selected">
								<ui-select-match placeholder="{{ $appServ.getLabel(['placeholder', 'nationality']) }}">
									<span class="form-control inputbox {{ $appServ.labelStyle }} regular black f10">
										{{ ($select.selected.name[$utilServ.lang] ? ($select.selected.name[$utilServ.lang] | capitalize) : "") }}
									</span>
									<span
										clearselect
										class="clearselect lang font-en regular gray f10"
										ng-click="apppro.formField.nationalitySelected.selected = undefined">
										<i class="fa fa-times-circle"></i>
									</span>
								</ui-select-match>
								<ui-select-choices repeat="nationality in (apppro.formField.nationality | filter: { selectFilter: $select.search } | orderBy: 'name.EN' | limitTo: $utilServ.uiSelectLimit.show)">
									<span class="{{ $appServ.labelStyle }} regular f10">
										{{ (nationality.name[$utilServ.lang] | capitalize) }}
									</span>
									<div ng-show="$utilServ.getSelectShowLoadMoreTemplate($index, $select.items, $select.search, apppro.formField.nationality)">
										<a
											class="{{ $appServ.labelStyle }} regular white f12 btn loadmore"
											href="javascript:void(0)"
											ng-click="$utilServ.getSelectFetchData($select, $event)">
											{{ $appServ.getLabel(['msgPreloading', 'loadMore']) }}
										</a>
									</div>
								</ui-select-choices>
							</ui-select>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.nationality
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'nationalityError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['application', 'table', 'maritalStatus']) }}
						</div>
						<div class="form-col input-col">
							<div
								class="radio-row"
								ng-repeat="maritalStatus in apppro.formField.maritalStatus">
								<ul>
									<li class="radio-col input-col">
										<input
											icheck
											type="radio"
											class="inputradio"
											name="maritalstatus"
											value="{{ maritalStatus.id }}"											   
											ng-model="apppro.formField.maritalStatusSelected"
										/>
									</li>
									<li class="radio-col label-col">
										<div class="label-tab">
											<span class="{{ $appServ.labelStyle }} regular black f10">
												{{ (maritalStatus.name[$utilServ.lang] | capitalize) }}
											</span>
										</div>
									</li>
								</ul>
							</div>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.maritalStatus
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'maritalStatusError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['application', 'table', 'passportNumber']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"								
								textbox-type-letter="englishnumeric"
								textbox-transformed="uppercase"
								maxlength="20"
								ng-model="apppro.formField.passportNumber"
							/>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.passportNumber
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'passportNumberError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-right {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['application', 'table', 'passportExpiryDate']) }}
						</div>
						<div class="form-col input-col">
							<div
								datetimepicker
								class="input-group date"
								ng-init="datetimepickerOptions = $appServ.datetimepickerOptions"
								ng-model="datepickerPassportExpiryDate">
								<input
									textbox
									type="text"
									class="inputcalendar form-control inputbox font-en regular black f10"
									value=""
									ng-model="datepickerPassportExpiryDate.date"
								/>
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
							<div class="description {{ $appServ.labelStyle }} regular gray f11">
								{{ $appServ.getLabel(['dateFormat']) }}
							</div>
							<div
								class="alert alert-danger"
								ng-show="
									apppro.formValidate.showSaveError &&
									!apppro.formValidate.isValid.passportExpiryDate
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['application', 'personalInfo', 'profile', 'save', 'passportExpiryDateError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col nopadding-top nopadding-bottom"></div>
						<div class="form-col input-col text-right nopadding-top nopadding-bottom">
							<div class="btn-command">
								<span>
									<a
										enter
										class="{{ $appServ.labelStyle }} regular white f10 btn btn-primary nomargin-left"
										href="javascript:void(0)"
										ng-disabled="!apppro.isFormChanged"
										ng-click="
											$utilServ.doBlur($event);
											(apppro.isFormChanged ? apppro.saveChange.action() : '')
										">
										{{ $appServ.getLabel(['save']) }}
									</a>
									<a
										enter
										class="{{ $appServ.labelStyle }} regular white f10 btn btn-primary"
										href="javascript:void(0)"
										ng-disabled="!apppro.isFormChanged"
										ng-click="
											$utilServ.doBlur($event);
											(apppro.isFormChanged ? apppro.resetValue() : '')
										">
										{{ $appServ.getLabel(['discard']) }}
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>