<div
	class="{{ $pageRouteServ.pageObject.signin.class }}"
	ng-controller="user.signinCtrl as usrsgn"
	ng-show="!$appServ.isUser">
	<div class="panel noborder">
		<div class="panel-heading page-heading">      
			<div class="panel-title">
				<div class="panel-table">
					<div class="panel-row">
						<div class="panel-col col-navigation">
							<div class="navigation">
								<ul>
									<li class="colshow">
										<span class="{{ $appServ.labelStyle }} bold black f5">
											{{ $appServ.getLabel(['authen', 'signin']) }}
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="panel-body page-body"
			ng-show="usrsgn.showForm">
			<div class="form vertical">
				<div class="form-row">
					<div class="form-col label-col {{ $appServ.labelStyle }} regular black f9">
						{{ $appServ.getLabel(['authen', 'username']) }}
					</div>
					<div class="form-col input-col">
						<input
							enter
							textbox
							type="text"
							class="form-control inputbox font-en regular black f10"
							value=""
							ng-model="usrsgn.formField.username"
						/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-col label-col {{ $appServ.labelStyle }} regular black f9">
						{{ $appServ.getLabel(['authen', 'password']) }}
					</div>
					<div class="form-col input-col">
						<input
							enter
							textbox
							type="password"
							class="form-control inputbox font-en regular black f10"
							value=""
							ng-model="usrsgn.formField.password"
						/>
					</div>
				</div>
			</div>
			<div class="btn-command text-center">
				<a
					enter
					class="btn btn-block btn-primary nomargin-top nomargin-left"
					href="javascript:void(0)"
					ng-click="
						$utilServ.doBlur($event);
						usrsgn.signin.action()
					">
					<span class="{{ $appServ.labelStyle }} regular white f9">
						{{ $appServ.getLabel(['authen', 'signin']) }}
					</span>
				</a>
			</div>
			<div class="btn-command text-left">
				<div class="panel-table">
					<div class="panel-row">
						<div class="panel-col col-iconleft">
							<i class="fa fa-user-plus regular black f9"></i>
						</div>
						<div class="panel-col">
							<a
								class="{{ $appServ.labelStyle }} regular black f10 link"
								href="#/{{ $pageRouteServ.pageObject.createNewAccount.url }}">
								{{ $appServ.getLabel(['createNewAccount']) }}
							</a>
						</div>
					</div>
					<div class="panel-row">
						<div class="panel-col col-iconleft">
							<i class="fa fa-lock regular black f7"></i>
						</div>
						<div class="panel-col">
							<a
								class="{{ $appServ.labelStyle }} regular black f10 link"
								href="javascript:void(0)"
								ng-click="
									$utilServ.doBlur($event);
									usrsgn.requestPassword.getDialogForm.action()
								">
								{{ $appServ.getLabel(['authen', 'forgotPassword']) }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>