<div
	class="{{ $pageRouteServ.pageObject.requestPassword.class }}"
	ng-controller="user.requestPasswordCtrl as usrrqp"
	ng-show="!$appServ.isUser">
	<div class="addedit dialogin">
		<div class="panel noborder">
			<div
				class="panel-body page-body"
				ng-show="usrrqp.showForm">
				<div class="form">
					<div class="form-row">
						<div class="form-col label-col text-left {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'username']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"
								value=""
								ng-model="usrrqp.formField.username"
							/>
							<div
								class="alert alert-danger"
								ng-show="
									usrrqp.formValidate.showSendError &&
									!usrrqp.formValidate.isValid.username
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['requestPassword', 'send', 'usernameError']) }}
								</span>
							</div>                            
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-left {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['user', 'table', 'verifyCode']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"
								value=""
								ng-model="usrrqp.formField.verifyCode"
							/>
							<div
								class="alert alert-danger"
								ng-show="
									usrrqp.formValidate.showSendError &&
									!usrrqp.formValidate.isValid.verifyCode
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['requestPassword', 'send', 'verifyCodeError']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-left {{ $appServ.labelStyle }} regular black f10 required">
							{{ $appServ.getLabel(['requestPassword', 'sendMail']) }}
						</div>
						<div class="form-col input-col">
							<input
								enter
								textbox
								type="text"
								class="form-control inputbox font-en regular black f10"
								value=""
								ng-model="usrrqp.formField.email"
							/>
							<div
								class="alert alert-danger"
								ng-show="
									usrrqp.formValidate.showSendError &&
									!usrrqp.formValidate.isValid.email1
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['requestPassword', 'send', 'emailError', '1']) }}
								</span>
							</div>
							<div
								class="alert alert-danger"
								ng-show="
									usrrqp.formValidate.showSendError &&
									!usrrqp.formValidate.isValid.email2
								">
								<span class="{{ $appServ.labelStyle }} regular f11">
									{{ $appServ.getLabel(['requestPassword', 'send', 'emailError', '2']) }}
								</span>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-col label-col text-left nopadding-top nopadding-bottom"></div>
						<div class="form-col input-col text-left nopadding-top nopadding-bottom">
							<div class="btn-command">
								<span>
									<a
										enter
										class="{{ $appServ.labelStyle }} regular white f10 btn btn-primary nomargin-left"
										href="javascript:void(0)"
										ng-disabled="!usrrqp.isFormChanged"
										ng-click="
											$utilServ.doBlur($event);
											(usrrqp.isFormChanged ? usrrqp.sendEmail.action() : '')
										">
										{{ $appServ.getLabel(['send']) }}
									</a>
									<a
										enter
										class="{{ $appServ.labelStyle }} regular white f10 btn btn-primary"
										href="javascript:void(0)"
										ng-disabled="!usrrqp.isFormChanged"
										ng-click="
											$utilServ.doBlur($event);
											(usrrqp.isFormChanged ? usrrqp.resetValue() : '')
										">
										{{ $appServ.getLabel(['discard']) }}
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>                    
			</div>
		</div>
	</div>
</div>