################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/FileUpload
/.vs/OnlineApplication/FileContentIndex/2bd89205-3b95-4617-92ae-061b4dfa503a.vsidx
