<!DOCTYPE html>

<html class="c_darkmode" ng-app="appMod">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no" />
	<link href="Image/MUIcon.png" rel="shortcut icon" type="image/png" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/css/bootstrap-dialog.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/all.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.2/dist/cookieconsent.css" rel="stylesheet" media="print" onload="this.media='all'">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular-cookies.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-base64/2.0.5/angular-base64.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-input-masks/4.2.1/angular-input-masks-standalone.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/js/bootstrap-dialog.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://smartedu.mahidol.ac.th/InfoService/JScript/04062018/Autosize.js"></script>
	<script src="https://smartedu.mahidol.ac.th/InfoService/JScript/04062018/iUtil.js"></script>
</head>
<body app-main>
	<div class="template-content hidden"></div>
	<main app-contentg
		  class="hidden">
		<header class="sticky">
			<nav class="navbar">
				<div class="container hbg">
					<div class="navbar-top">
						<div class="container">
							<div class="panel panel-transparent">
								<div class="panel-table">
									<div class="panel-row">
										<div class="panel-col col-systemowner nopadding-left">
											<span class="{{ $appServ.labelStyle }} regular white f11">
												<i class="fa fa-info-circle f10"></i>
												&nbsp;
												{{ $appServ.getLabel(['systemOwner', 'abbreviation']) }}
											</span>
										</div>
										<div class="panel-col text-right col-userinfo">
											<div class="dropdown"
												 ng-show="$appServ.isUser">
												<a class="dropdown-toggle"
												   href="javascript:void(0)"
												   data-toggle="dropdown">
													<span class="{{ $appServ.labelStyle }} regular white f11">
														<i class="fa fa-user-circle"></i>
														&nbsp;
														{{ $appServ.getUserInfo.fullName }}
													</span>
												</a>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
												<ul class="dropdown-menu">
													<li>
														<a class="{{ $appServ.labelStyle }} regular white f11 unlink"
														   href="javascript:void(0)">
															{{ $appServ.getUserInfo.applicationStatus + ' : ' + $appServ.getUserInfo.applicationStatusName }}
														</a>
													</li>
													<li ng-controller="termServiceConsent.privacyPolicyCtrl as tscppc">
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="javascript:void(0)"
														   ng-click="tscppc.getDialogForm.action()">
															{{ $appServ.getLabel(['privacyPolicy']) }}
														</a>
													</li>
													<li ng-controller="user.editAccounBeforeCtrl as usreda">
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="javascript:void(0)"
														   ng-click="usreda.getDialogForm.action()">
															{{ $appServ.getLabel(['editAccount']) }}
														</a>
													</li>
													<li>
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="https://mahidol.ac.th/intstudents/"
														   target="_blank">
															{{ $appServ.getLabel(['contact']) }}
														</a>
													</li>
													<li>
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="javascript:void(0)"
														   ng-click="$appServ.signOut.action()">
															{{ $appServ.getLabel(['authen', 'signout']) }}
														</a>
													</li>
												</ul>
											</div>
											<div class="dropdown"
												 ng-show="!$appServ.isUser">
												<a class="dropdown-toggle"
												   href="javascript:void(0)"
												   data-toggle="dropdown">
													<span class="{{ $appServ.labelStyle }} regular white f11">
														<i class="fa fa-user-circle"></i>
														&nbsp;
														{{ $appServ.getLabel(['authen', 'signin']) }} | {{ $appServ.getLabel(['createNewAccount']) }}
													</span>
												</a>
												<i class="fa fa-caret-up" aria-hidden="true"></i>
												<ul class="dropdown-menu">
													<li ng-controller="termServiceConsent.privacyPolicyCtrl as tscppc">
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="javascript:void(0)"
														   ng-click="tscppc.getDialogForm.action()">
															{{ $appServ.getLabel(['privacyPolicy']) }}
														</a>
													</li>
													<li>
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="#/{{ $pageRouteServ.pageObject.createNewAccount.url }}">
															{{ $appServ.getLabel(['createNewAccount']) }}
														</a>
													</li>
													<li>
														<a class="{{ $appServ.labelStyle }} regular white f11"
														   href="#/{{ $pageRouteServ.pageObject.signin.url }}">
															{{ $appServ.getLabel(['authen', 'signin']) }}
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="panel-col text-right col-applicationstatus"
											 ng-show="$appServ.getUserInfo.userId.length > 0">
											<span class="{{ $appServ.labelStyle }} regular white f11">
												( {{ $appServ.getUserInfo.applicationStatus }} )
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<nav class="navbar">
				<div class="container hbg">
					<div class="navbar-header">
						<div class="container">
							<div class="panel panel-transparent">
								<div class="panel-table">
									<div class="panel-row">
										<div class="panel-col col-menutoggle"
											 ng-show="
												$appServ.isUser &&
												$appServ.slideLeftToggle &&
												$appServ.getUserInfo.applicationStatus == 'WA'
											">
											<a href="javascript:void(0)"
											   ng-click="$pageRouteServ.setSlideMenuOnOff()">
												<i class="white regular f7 fa fa-navicon" aria-hidden="true"></i>
											</a>
										</div>
										<div class="panel-col col-systemowner {{ $appServ.isUser && $appServ.slideLeftToggle && $appServ.getUserInfo.applicationStatus == 'WA' ? '' : ' nopadding-right' }}">
											<div class="systemname text-center nopadding-top"></div>
											<div class="systemowner"></div>
										</div>
										<div class="panel-col col-userinfo-systemisname">
											<div class="panel-table">
												<div class="panel-row">
													<div class="panel-col col-userinfo-applicationstatus">
														<div class="panel-table">
															<div class="panel-row">
																<div class="panel-col text-right col-userinfo">
																	<div class="dropdown"
																		 ng-show="$appServ.isUser">
																		<a class="dropdown-toggle"
																		   href="javascript:void(0)"
																		   data-toggle="dropdown">
																			<span class="{{ $appServ.labelStyle }} regular white f11">
																				<i class="fa fa-user-circle"></i>
																				&nbsp;
																				{{ $appServ.getUserInfo.fullName }}
																			</span>
																		</a>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																		<ul class="dropdown-menu">
																			<li>
																				<a class="{{ $appServ.labelStyle }} regular white f11 unlink"
																				   href="javascript:void(0)">
																					{{ $appServ.getUserInfo.applicationStatus + ' : ' + $appServ.getUserInfo.applicationStatusName }}
																				</a>
																			</li>
																			<li ng-controller="termServiceConsent.privacyPolicyCtrl as tscppc">
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="javascript:void(0)"
																				   ng-click="tscppc.getDialogForm.action()">
																					{{ $appServ.getLabel(['privacyPolicy']) }}
																				</a>
																			</li>
																			<li ng-controller="user.editAccounBeforeCtrl as usreda">
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="javascript:void(0)"
																				   ng-click="usreda.getDialogForm.action()">
																					{{ $appServ.getLabel(['editAccount']) }}
																				</a>
																			</li>
																			<li>
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="https://mahidol.ac.th/intstudents/"
																				   target="_blank">
																					{{ $appServ.getLabel(['contact']) }}
																				</a>
																			</li>
																			<li>
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="javascript:void(0)"
																				   ng-click="$appServ.signOut.action()">
																					{{ $appServ.getLabel(['authen', 'signout']) }}
																				</a>
																			</li>
																		</ul>
																	</div>
																	<div class="dropdown"
																		 ng-show="!$appServ.isUser">
																		<a class="dropdown-toggle"
																		   href="javascript:void(0)"
																		   data-toggle="dropdown">
																			<span class="{{ $appServ.labelStyle }} regular white f11">
																				<i class="fa fa-user-circle"></i>
																				&nbsp;
																				{{ $appServ.getLabel(['authen', 'signin']) }} | {{ $appServ.getLabel(['createNewAccount']) }}
																			</span>
																		</a>
																		<i class="fa fa-caret-up" aria-hidden="true"></i>
																		<ul class="dropdown-menu">
																			<li ng-controller="termServiceConsent.privacyPolicyCtrl as tscppc">
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="javascript:void(0)"
																				   ng-click="tscppc.getDialogForm.action()">
																					{{ $appServ.getLabel(['privacyPolicy']) }}
																				</a>
																			</li>
																			<li>
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="#/{{ $pageRouteServ.pageObject.createNewAccount.url }}">
																					{{ $appServ.getLabel(['createNewAccount']) }}
																				</a>
																			</li>
																			<li>
																				<a class="{{ $appServ.labelStyle }} regular white f11"
																				   href="#/{{ $pageRouteServ.pageObject.signin.url }}">
																					{{ $appServ.getLabel(['authen', 'signin']) }}
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
																<div class="panel-col text-right col-applicationstatus"
																	 ng-show="$appServ.isUser">
																	<span class="{{ $appServ.labelStyle }} regular white f11">
																		( {{ $appServ.getUserInfo.applicationStatus }} )
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel-row">
													<div class="panel-col text-right col-systemisname">
														<div class="systemisname"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!--
		<div
			class="sticky"
			id="privacypolicyconsent-banner"
			ng-show="
				$appServ.isUser &&
				!$appServ.isActionAgreePrivacyPolicy &&
				$appServ.showPrivacyPolicyConsent
			">
			<span class="{{ $appServ.labelStyle }} regular white f10">
				Mahidol University will use and / or disclose your personal information ( name and student profile information ) to authorized staff of Mahidol University for the purpose of generating student ID number, collecting data and contacting your parents / guardians in case of emergency.
			</span>
			<div class="paddingTop7">
				<a
					class="link {{ $appServ.labelStyle }} bold white f10" href="javascript:void(0)"
					ng-click="$appServ.privacyPolicy.getDialogForm.action()">
					{{ $appServ.getLabel(['read']) }} {{ $appServ.getLabel(['privacyPolicy']) }}
				</a>
			</div>
			<div class="text-right paddingTop10">
				<button
					class="btn btn-dark"
					ng-click="$appServ.privacyPolicy.action('agree')">
					<span class="lang font-th regular white f11">
						{{ $appServ.getLabel(['agree']) }}
					</span>
				</button>
				<button
					class="btn btn-dark"
					ng-click="$appServ.privacyPolicy.action('close')">
					<span class="lang font-th regular white f11">
						{{ $appServ.getLabel(['close']) }}
					</span>
				</button>
			</div>
		</div>
		-->
		<section>
			<div class="container">
				<div class="panel panel-transparent">
					<div class="panel-table">
						<div class="panel-row">
							<div class="panel-col leftfix col-menu {{ $appServ.getUserInfo.applicationStatus != 'WA' ? 'hidden' : '' }}"
								 ng-show="
									$appServ.isUser &&
									$appServ.getUserInfo.applicationStatus == 'WA' &&
									$appServ.isActionAgreePrivacyPolicy
								">
								<div class="panel panel-transparent noborder slidemenu scrollbar-inner">
									<div class="panel-body">
										<ul class="nav">
											<li ng-init="mainMenu = $pageRouteServ.pageObject[m]"
												ng-repeat="m in $pageRouteServ.menuList.menu"
												ng-show="$appServ.getUserInfo.permission && ($pageRouteServ.pageObject[m].permission == '*' || $pageRouteServ.pageObject[m].permission.indexOf($appServ.getUserInfo.permission) > -1)">
												<a menu
												   class="mainmenu {{ mainMenu.class + '-menu' }} block"
												   href="#/{{ mainMenu.url }}"
												   ng-show="!$pageRouteServ.menuList[m].menu">
													<div class="panel-table">
														<div class="panel-row">
															<div class="panel-col col-iconleft">
																<i class="{{ mainMenu.icon }} regular f8" aria-hidden="true"></i>
															</div>
															<div class="panel-col">
																<span class="{{ $appServ.labelStyle }} regular f10 has-icon-right">
																	{{ $appServ.getLabel(mainMenu.nameDict) }}
																</span>
															</div>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel-col {{ $appServ.slideLeftActive ? 'slideleftactive' : '' }} col-view">
								<div class="view {{ $appServ.showPreloading ? 'hidden' : '' }}" ng-view></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="{{ $appServ.slideLeftActive && $appServ.getUserInfo.applicationStatus == 'WA' && $appServ.isActionAgreePrivacyPolicy ? 'slideleftactive' : '' }}">
			<div class="container">
				<span class="{{ $appServ.labelStyle }} regular black f11" ng-bind-html="$appServ.getLabel(['footer']) + '<br />' + $appServ.getLabel(['systemOwner']) + '<br />Email : ' +  $dictServ.dict.systemOwner.email"></span>
			</div>
		</footer>
	</main>
	<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.2/dist/cookieconsent.js"></script>
	<script defer src="CookieConsentInit.js"></script>
</body>
</html>
<script type="text/javascript">
	"use strict";

	var dt = new Date();
	var ver = (dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds());

	document.write("<script type='text/javascript' src='index.js?ver=" + ver + "'><\/script>");
</script>
