USE [Bermuda]
GO
/****** Object:  Trigger [dbo].[tg_sexApplication]    Script Date: 06/06/2566 13:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER trigger [dbo].[tg_sexApplication]
   on [dbo].[sexApplication]
   after insert, delete, update
as
begin
    set concat_null_yields_null off
	
	declare @table varchar(50) = 'sexApplication'
    declare @action varchar(10) = null
	
	if exists (select * from inserted)
	begin
		if exists (select * from deleted)
			set @action = 'UPDATE'
		else
			set @action = 'INSERT'
			
		insert into BermudaLog..sexApplicationLog
		(
			sexApplicationId,
			sexUserId,
			perTitlePrefixId,
			firstName,
			middleName,
			lastName,
			perNationalityId,
			perGenderId,
			email,
			sexStudentCategoryId,
			studentCategorySpecify,
			studentCategoryOther,
			plcCountryId,
			plcUniversityId,
			universityOther,
			acaFacultyId,
			department,
			semesterDateStart,
			semesterDateEnd,
			homeAddress,
			homeDistrict,
			homeCity,
			homeProvince,
			homePostalCode,
			plcCountryHomeId,
			mailingAddress,
			mailingDistrict,
			mailingCity,
			mailingProvince,
			mailingPostalCode,
			plcCountryMailingId,
			contactTel,
			birthDate,
			perMaritalStatusId,
			passportNumber,
			passportExpiryDate,
			emergencyName,
			perRelationshipId,
			emergencyMailingAddress,
			emergencyMailingDistrict,
			emergencyMailingCity,
			emergencyMailingProvince,
			emergencyMailingPostalCode,
			plcCountryMailingEmergencyId,
			emergencyHomeTel,
			emergencyOfficeTel,
			emergencyMobile,
			emergencyFax,
			emergencyEmail,
			curEduInstitution,
			curEduFaculty,
			sexDisciplineId,
			perEducationalBackgroundId,
			curEduYear,
			TOEFLScore,
			sexTOEFLTypeId,
			IELTSResult,
			englishNativeOther,
			passportFile,
			facePhotographsFile,
			transcriptFile,
			travelInsuranceFile,
			letterHomeUniversityFile,
			curriculumVitaeFile,
			TOEFLIELTSFile,
			letterIntentFile,
			declarationA,
			declarationB,
			declarationC,
			declarationD,
			declarationE,
			declarationESpecify,
			submitStatus,
			submitDate,
			submitBy,
			submitIp,
			applicationStatus,
			centralApprovalStatus,
			centralApprovalDate,
			centralApprovalBy,
			centralApprovalIp,
			divisionApprovalStatus,
			divisionApprovalDate,
			divisionApprovalBy,
			divisionApprovalIp,
			reason,
			cancelledStatus,
			createDate,
			createBy,
			createIp,
			modifyDate,
			modifyBy,
			modifyIp,
			logDatabase,
			logTable,
			logAction,
			logActionDate,
			logActionBy,
			logIp
		)
		select	*,
				db_name(),
				@table,
				@action,
				getdate(),
				system_user,
				null
		from	inserted				
	end
	else
		begin
			set @action = 'DELETE'
			
			insert into BermudaLog..sexApplicationLog
			(			
				sexApplicationId,
				sexUserId,
				perTitlePrefixId,
				firstName,
				middleName,
				lastName,
				perNationalityId,
				perGenderId,
				email,
				sexStudentCategoryId,
				studentCategorySpecify,
				studentCategoryOther,
				plcCountryId,
				plcUniversityId,
				universityOther,
				acaFacultyId,
				department,
				semesterDateStart,
				semesterDateEnd,
				homeAddress,
				homeDistrict,
				homeCity,
				homeProvince,
				homePostalCode,
				plcCountryHomeId,
				mailingAddress,
				mailingDistrict,
				mailingCity,
				mailingProvince,
				mailingPostalCode,
				plcCountryMailingId,
				contactTel,
				birthDate,
				perMaritalStatusId,
				passportNumber,
				passportExpiryDate,
				emergencyName,
				perRelationshipId,
				emergencyMailingAddress,
				emergencyMailingDistrict,
				emergencyMailingCity,
				emergencyMailingProvince,
				emergencyMailingPostalCode,
				plcCountryMailingEmergencyId,
				emergencyHomeTel,
				emergencyOfficeTel,
				emergencyMobile,
				emergencyFax,
				emergencyEmail,
				curEduInstitution,
				curEduFaculty,
				sexDisciplineId,
				perEducationalBackgroundId,
				curEduYear,
				TOEFLScore,
				sexTOEFLTypeId,
				IELTSResult,
				englishNativeOther,
				passportFile,
				facePhotographsFile,
				transcriptFile,
				travelInsuranceFile,
				letterHomeUniversityFile,
				curriculumVitaeFile,
				TOEFLIELTSFile,
				letterIntentFile,
				declarationA,
				declarationB,
				declarationC,
				declarationD,
				declarationE,
				declarationESpecify,
				submitStatus,
				submitDate,
				submitBy,
				submitIp,
				applicationStatus,
				centralApprovalStatus,
				centralApprovalDate,
				centralApprovalBy,
				centralApprovalIp,
				divisionApprovalStatus,
				divisionApprovalDate,
				divisionApprovalBy,
				divisionApprovalIp,
				reason,
				cancelledStatus,
				createDate,
				createBy,
				createIp,
				modifyDate,
				modifyBy,
				modifyIp,
				logDatabase,
				logTable,
				logAction,
				logActionDate,
				logActionBy,
				logIp
			)
			select	*,
					db_name(),
					@table,
					@action,
					getdate(),
					system_user,
					null
			from	deleted			
		end
end
