@charset "UTF-8";
/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๐๔/๐๖/๒๕๖๑>
Modify date : <๑๒/๐๕/๒๕๖๕>
Description : <Style Sheet จัดรูปการแสดงผล>
=============================================
*/
@import url(https://smartedu.mahidol.ac.th/InfoService/CSS/04062018/iUtil.css);
/* thai */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 200;
  src: local("Pridi ExtraLight"), local("Pridi-ExtraLight"), url(../Font/Pridi-ExtraLight.ttf) format("truetype");
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 200;
  src: local("Pridi ExtraLight"), local("Pridi-ExtraLight"), url(../Font/Pridi-ExtraLight.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 200;
  src: local("Pridi ExtraLight"), local("Pridi-ExtraLight"), url(../Font/Pridi-ExtraLight.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 200;
  src: local("Pridi ExtraLight"), local("Pridi-ExtraLight"), url(../Font/Pridi-ExtraLight.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 300;
  src: local("Pridi Light"), local("Pridi-Light"), url(../Font/Pridi-Light.ttf) format("truetype");
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 300;
  src: local("Pridi Light"), local("Pridi-Light"), url(../Font/Pridi-Light.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 300;
  src: local("Pridi Light"), local("Pridi-Light"), url(../Font/Pridi-Light.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 300;
  src: local("Pridi Light"), local("Pridi-Light"), url(../Font/Pridi-Light.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 500;
  src: local("Pridi Medium"), local("Pridi-Medium"), url(../Font/Pridi-Medium.ttf) format("truetype");
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 500;
  src: local("Pridi Medium"), local("Pridi-Medium"), url(../Font/Pridi-Medium.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 500;
  src: local("Pridi Medium"), local("Pridi-Medium"), url(../Font/Pridi-Medium.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 500;
  src: local("Pridi Medium"), local("Pridi-Medium"), url(../Font/Pridi-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.font-th,
.font-en {
  font-family: "Pridi";
}

.block {
  display: block;
  min-height: 40px;
  padding: 7px 10px 7px 10px !important;
}

a.unlink {
  text-decoration: none;
  cursor: default;
}

.bootstrap-dialog.modal {
  top: 80px;
}

.text-underline {
  text-decoration: underline !important;
}

.inputbox,
.inputcalendar,
.input-daterange .todate,
.select2-container .select2-choice,
.form .form-col.input-col .preloading-inline,
.form .form-col.input-col .inputbox,
.form .form-col.input-col .inputcalendar,
.form .form-col.input-col .select2-container .select2-chosen,
.form .form-col.input-col .select2-container .select2-choice,
.form .form-col.input-col .clearselect {
  height: 35px;
  line-height: 33px;
}

.input-daterange .todate {
  padding-top: 5px;
  vertical-align: top !important;
}

.form .form-col.input-col .input-group-addon {
  padding-top: 0;
  padding-bottom: 0;
}

.form .form-col.input-col .select2-container .select2-chosen {
  line-height: 34px;
}

.form .form-col.input-col .select2-container .inputbox,
.input-daterange .todate {
  line-height: 35px;
}

.form .form-col.input-col .inputcalendar,
.form .form-col.input-col .clearselect {
  line-height: 33px;
}

.form .form-col.input-col .select2-container .select2-choice .select2-arrow {
  top: 5px;
}

.form .form-col.input-col .textareabox {
  padding-top: 4px;
  padding-bottom: 4px;
}

.form .form-col.input-col .textareabox.disabled {
  background: #EEEEEE;
}

form .required:after,
.form .required:after {
  top: 8px;
}

.form .form-col.input-col .select2-default {
  font-family: "Pridi";
  font-size: 16px;
  font-weight: 300;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open main header nav.navbar .navbar-top,
body.modal-open main header nav.navbar .navbar-header {
  margin-right: 0;
}

.modal-backdrop {
  /*
  background: #FFFFFF;
  */
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-dialog form .form-row:first-child .required:after,
.modal-dialog .form .form-row:first-child .required:after {
  top: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .form .form-col.input-col .select2-container .inputbox {
    line-height: 35px;
  }

  .form .form-col.input-col .clearselect {
    line-height: 33px;
  }

  ::i-block-chrome,
.form .form-col.input-col .select2-container .inputbox {
    line-height: 35px;
  }

  ::i-block-chrome,
form .required:after,
.form .required:after {
    top: 10px !important;
  }

  ::i-block-chrome,
.modal-dialog form .form-row:first-child .required:after,
.modal-dialog .form .form-row:first-child .required:after {
    top: 5px !important;
  }
}
.dialog-preloading-container .lang {
  color: #FFFFFF !important;
}

.dialog-preloading-wheel {
  /*
  width: 128px;
  height: 128px;
  background: url(../Image/DialogPreloading.gif) no-repeat center center;
  border: 0;
  padding: 50px 0 0 0;
  text-align: center;
  */
  border: 5px solid #F3F3F3;
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.alert {
  padding: 7px 10px;
  margin-bottom: 0;
  border-radius: 0;
  min-height: 39px;
}

.alert .link {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .alert {
    padding-bottom: 6px;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
.alert {
    padding-bottom: 7px;
  }
}
.alert.alert-warning {
  color: #856404;
  background-color: #FFF3CD;
  border-color: #FFEEBA;
}

.dialogin .panel .panel-heading.block {
  padding-top: 5px !important;
}

.dialogin .panel .panel-body.block {
  padding-top: 3px !important;
  padding-bottom: 6px !important;
}

.dialogin .form:not(.colwrap):not(.vertical) .form-col.label-col {
  padding-top: 9px;
}

.dialogin .form:not(.colwrap):not(.vertical) .form-col.input-col {
  padding-top: 4px;
}

.dialogin .form:not(.colwrap):not(.vertical) .form-col.input-col .radio-row:first-child,
.dialogin .form:not(.colwrap):not(.vertical) .form-col.input-col .checkbox-row:first-child {
  padding-top: 2px;
}

.dialogin .form:not(.colwrap):not(.vertical) .form-col.label-col,
.dialogin .form:not(.colwrap):not(.vertical) .form-col.input-col {
  padding-bottom: 6px;
}

.modal-dialog .dialogin .form:not(.colwrap):not(.vertical) .form-row:first-child .form-col.label-col {
  padding-top: 5px;
}

.modal-dialog .dialogin .form:not(.colwrap):not(.vertical) .form-row:first-child .form-col.input-col {
  padding-top: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dialogin .form:not(.colwrap):not(.vertical) .form-col.label-col {
    padding-top: 9px;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
.dialogin .form:not(.colwrap):not(.vertical) .form-col.label-col {
    padding-top: 9px;
  }

  ::i-block-chrome,
.dialogin .form:not(.colwrap):not(.vertical) .form-col.label-col {
    padding-top: 10px;
  }

  ::i-block-chrome,
.dialogin .form:not(.colwrap):not(.vertical) .form-col.input-col {
    padding-top: 5px;
  }
}
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal-dialog .dialogin .form:not(.colwrap):not(.vertical) .form-col.label-col {
    padding-top: 8px;
  }

  .modal-dialog .dialogin .form:not(.colwrap):not(.vertical) .form-row:first-child .form-col.label-col {
    padding-top: 4px;
  }

  .modal-dialog form .form-row:first-child .required:after,
.modal-dialog .form .form-row:first-child .required:after {
    top: 4px !important;
  }
}
.dialogin .btn-command .btn {
  height: 35px;
  line-height: 35px;
  min-width: 80px;
}

.dialogin .btn-command .btn.preloading-inline {
  height: 31px;
  line-height: 0;
  min-width: 38px;
  top: 7px;
}

.addedit.dialogin .panel .panel-body.block {
  padding-top: 7px !important;
  padding-bottom: 10px !important;
}

.addedit.dialogin .panel .panel-body.block {
  padding-top: 0 !important;
}

.dialogin .btn {
  position: relative;
  height: 35px;
  min-width: inherit;
}

.dialogin .btn i {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  position: relative;
  width: inherit;
}

.icheckbox_minimal,
.iradio_minimal {
  background: url(../Image/iCheckMinimal.png) no-repeat;
}

.iradio_minimal {
  background-position: -100px 0;
}

.icheckbox_minimal {
  background-position: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .radio-row ul .radio-col.input-col,
.checkbox-row ul .checkbox-col.input-col {
    top: 1px;
  }

  ::i-block-chrome,
.radio-row ul .radio-col.input-col,
.checkbox-row ul .checkbox-col.input-col {
    top: 2px;
  }
}
.view .iform .iform-col.colhead:nth-child(2) {
  width: 15px !important;
}

.nav-tabs {
  border-bottom: 1px solid #B1D6EE;
}

.nav-tabs > li {
  background: #D0E2ED;
  margin-bottom: 0;
  border-left: 2px solid #FFFFFF;
}

.nav-tabs > li:first-child,
.nav-tabs > li:first-child:hover,
.nav-tabs > li:first-child.active {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.nav-tabs > li:last-child {
  margin-right: 0;
  padding-right: 10px;
}

.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  min-height: 40px;
  border-radius: 0;
  border: none;
  background: #D0E2ED;
  filter: alpha(opacity=1);
  opacity: 1;
  text-align: left;
  margin-right: 0;
  top: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .nav-tabs > li > a {
    padding-top: 11px;
    padding-bottom: 7px;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
.nav-tabs > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.nav-tabs > li,
.nav-tabs > li > a {
  font-size: 15px;
}

.nav-tabs > li:hover,
.nav-tabs > li:hover > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  filter: alpha(opacity=1);
  opacity: 1;
  border: none;
  background: #B1D6EE;
}

.nav-tabs > li:hover,
.nav-tabs > li.active {
  border-left: 2px solid #FFFFFF;
}

.nav-tabs > li.active,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-weight: 400;
}

.tab-content .alert.alert-info {
  background: #B1D6EE;
  border: none;
  min-height: 39px;
}

.tab-content .alert.alert-info .error-list ul li:before {
  color: inherit;
}

.btn-dark {
  color: #FFFFFF;
  background-color: #343A40;
  border-color: #343A40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272B;
  border-color: #1D2124;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

main header nav.navbar .hbg {
  background: #1D4F91;
}

main header nav.navbar .navbar-top {
  display: none;
  height: 38px;
  padding: 0 10px 0 10px;
  background: #1D4F91;
}

@media screen and (-webkit-min-device-pixel-ratio: 0), (-ms-high-contrast: active), (-ms-high-contrast: none) {
  main header nav.navbar .navbar-top {
    /*
    padding-top: 3px;
    */
  }
}
main header nav.navbar .navbar-header {
  height: 80px;
  background-image: url("../Image/BGHeader.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1D4F91;
}

main header nav.navbar .navbar-top .panel-table,
main header nav.navbar .navbar-header .panel-table {
  width: 100%;
  table-layout: fixed;
}

main header nav.navbar .navbar-top .panel-table,
main header nav.navbar .navbar-top .panel-table .panel-col {
  height: 38px;
  vertical-align: middle;
}

main header nav.navbar .navbar-header .panel-table,
main header nav.navbar .navbar-header .panel-table .panel-col {
  height: 80px;
  vertical-align: middle;
}

main header nav.navbar .navbar-header .panel-col.col-menutoggle {
  width: 30px;
}

main header nav.navbar .navbar-header .panel-col.col-menutoggle i {
  position: relative;
  left: 1px;
}

main header nav.navbar .navbar-header .panel-col.col-systemowner {
  width: 400px;
}

main header nav.navbar .navbar-header .panel-col.col-systemowner .systemname {
  display: none;
}

main header nav.navbar .navbar-header .panel-col.col-userinfo-systemisname {
  width: auto;
}

main header nav.navbar .navbar-header .panel-col.col-userinfo-applicationstatus,
main header nav.navbar .navbar-header .panel-col.col-userinfo-applicationstatus .panel-table,
main header nav.navbar .navbar-header .panel-col.col-userinfo,
main header nav.navbar .navbar-header .panel-col.col-applicationstatus {
  height: 30px;
  vertical-align: bottom;
}

main header nav.navbar .navbar-top .panel-col.col-applicationstatus,
main header nav.navbar .navbar-header .panel-col.col-applicationstatus {
  width: 50px;
}

main header nav.navbar .navbar-header .panel-col.col-systemisname {
  width: 356px;
  height: 50px;
}

main header nav.navbar .navbar-header .panel-col.col-systemowner .systemowner,
main header nav.navbar .navbar-header .panel-col.col-systemowner .systemname,
main header nav.navbar .navbar-header .panel-col.col-systemisname .systemisname {
  width: inherit;
  height: inherit;
  background-image: url("../Image/Label.png");
}

main header nav.navbar .navbar-header .panel-col.col-systemowner .systemowner {
  background-position: 0 -216px;
}

main header nav.navbar .navbar-header .panel-col.col-systemisname .systemisname {
  background-position: -400px -246px;
  float: right;
}

main header nav.navbar .navbar-top .panel-col.col-systemowner i.fa-info-circle {
  position: relative;
  top: 1px;
}

main header nav.navbar .navbar-top .panel-col.col-systemowner,
main header nav.navbar .navbar-header .panel-col.col-userinfo-applicationstatus,
main header nav.navbar .navbar-top .panel-col.col-userinfo,
main header nav.navbar .navbar-header .panel-col.col-userinfo {
  width: auto;
  padding-left: 7px;
}

main header nav.navbar .navbar-top .panel-col.col-userinfo {
  width: 70%;
}

main header nav.navbar .navbar-top .panel-col.col-systemowner .lang,
main header nav.navbar .navbar-top .panel-col.col-userinfo .lang,
main header nav.navbar .navbar-header .panel-col.col-userinfo .lang {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main header nav.navbar .panel-col.col-userinfo a {
  color: white;
}

main header nav.navbar .panel-col.col-userinfo a:hover {
  text-decoration: underline;
}

main header nav.navbar .panel-col.col-userinfo .dropdown i.fa-caret-up {
  display: none;
  position: absolute;
  color: #2E3136;
  z-index: 1101;
  font-size: 20px;
  top: 12px;
  right: 10px;
  left: 0;
}

main header nav.navbar .panel-col.col-userinfo .dropdown.open i.fa-caret-up {
  display: block;
}

main header nav.navbar .panel-col.col-userinfo .dropdown-menu {
  width: auto !important;
  background: #2E3136;
  border: 1px solid #2E3136;
  border-left: none;
  border-right: none;
  top: 24px;
  right: 0;
  left: auto;
}

main header nav.navbar .panel-col.col-userinfo .dropdown-menu > li > a {
  width: 100% !important;
  padding-top: 7px !important;
  padding-bottom: 0 !important;
}

main header nav.navbar .panel-col.col-userinfo .dropdown-menu > li > a.unlink {
  border-bottom: 1px dotted #5b5c61;
  padding-bottom: 7px !important;
}

main header nav.navbar .panel-col.col-userinfo .dropdown-menu > li:last-child > a {
  padding-bottom: 7px !important;
}

main header nav.navbar .panel-col.col-userinfo .dropdown-menu > li > a:hover {
  background: transparent;
  text-decoration: underline;
}

main header nav.navbar .panel-col.col-userinfo .dropdown-menu > li > a:hover.unlink {
  text-decoration: none;
}

main section .panel-col.col-menu:not(.hidden) {
  width: 303px;
  background: #EFF0F2;
  padding: 10px 5px 0 0;
  margin: 0 0 10px 0;
  z-index: 10000;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu {
  height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .panel-body {
  padding-right: 12px;
  word-break: break-word;
  word-spacing: normal;
  word-wrap: break-word;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .nav li a {
  padding-left: 10px;
  position: relative;
  color: #000000;
  background: transparent;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .nav li a:hover {
  background: #BDC3C7 !important;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .nav li a.active {
  background: #95A5A6 !important;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .nav li a.active .lang {
  font-weight: normal;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .nav .panel-col.col-iconleft {
  width: 30px;
}

main section .panel-col.col-menu:not(.hidden) .slidemenu .nav a:not(.submenu):not(.subsubmenu) .panel-col.col-iconleft i {
  position: relative;
  top: 2px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  main section .panel-col.col-menu:not(.hidden) .slidemenu .nav a:not(.submenu):not(.subsubmenu) {
    padding-top: 8px !important;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
main section .panel-col.col-menu:not(.hidden) .slidemenu .nav a:not(.submenu):not(.subsubmenu) {
    padding-top: 7px !important;
  }
}
main section .panel-col.col-view {
  width: 100%;
}

main section .panel-col.col-view .view {
  padding: 0 0 10px 0;
}

main section .panel-col.col-view .view .panel .page-heading {
  padding: 10px 10px 5px 10px;
}

main section .panel-col.col-view .view .panel .page-heading .panel-title {
  display: block;
  min-height: 40px;
  padding-top: 2px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  main section .panel-col.col-view .view .panel .page-heading .panel-title {
    padding-top: 4px;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
main section .panel-col.col-view .view .panel .page-heading .panel-title {
    padding-top: 2px;
  }
}
main section .panel-col.col-view .view .panel .panel-heading .panel-title .navigation .colhide:first-child {
  width: 106px;
}

main footer {
  background: #B0C4B8;
  border-top: 5px solid #9FC71C;
  background-image: url("../Image/MUSAIS.Logo.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

main footer .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

main footer .container .lang {
  color: #0070c0;
}

main section .panel-col.col-view.slideleftactive,
main footer.slideleftactive {
  padding-left: 303px;
  text-align: left;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
main section .panel-col.col-view.slideleftactive,
main footer.slideleftactive {
    padding-left: 302px;
  }
}
main section .panel-col.col-view:not(.slideleftactive),
main footer:not(.slideleftactive) {
  padding-left: 0;
  text-align: left;
}

@media screen and (max-width: 842px) {
  main header nav.navbar .navbar-header .panel-col.col-systemisname {
    width: 116px;
  }

  main header nav.navbar .navbar-header .panel-col.col-systemisname .systemisname {
    background-position: -400px -296px;
  }

  main section .panel-col.col-menu:not(.hidden) {
    display: none;
    filter: alpha(opacity=90);
    opacity: 0.9;
  }

  main section .panel-col.col-view.slideleftactive,
main footer.slideleftactive {
    padding-left: 0 !important;
  }

  main footer.slideleftactive {
    text-align: center;
  }
}
@media screen and (max-width: 588px) {
  main header nav.navbar .navbar-top {
    display: block;
  }

  main header nav.navbar .navbar-header {
    height: auto;
  }

  main header nav.navbar .navbar-header .panel-table,
main header nav.navbar .navbar-header .panel-table .panel-col {
    height: auto;
    vertical-align: top;
  }

  main header nav.navbar .navbar-header .panel-col.col-systemowner .systemowner,
main header nav.navbar .navbar-header .panel-col.col-userinfo-systemisname {
    display: none;
  }

  main header nav.navbar .navbar-header .panel-col.col-systemowner {
    width: auto;
    height: 54px;
    padding-right: 30px;
  }

  main header nav.navbar .navbar-header .panel-col.col-systemowner .systemname {
    display: block;
    width: 156px;
    background-position: -400px -346px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  main section .panel-col.col-menu:not(.hidden) {
    width: 100%;
    padding-right: 0;
  }

  .panel .panel-heading .panel-title .navigation {
    width: 100%;
  }

  .panel .panel-heading .panel-title .navigation .colhide {
    display: none;
  }

  .panel .panel-heading .panel-title .navigation .colshow .lang {
    font-size: 20px;
  }
}
.signin .panel {
  width: 400px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.signin .panel .page-heading {
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-bottom: 1px dashed #ddd;
}

.signin .panel .page-body {
  padding-top: 8px;
}

.signin .form .form-col.input-col .inputbox {
  height: 40px;
}

.signin .btn-command .btn {
  height: 50px;
  line-height: 50px;
}

.signin .btn-command .panel-table {
  table-layout: fixed;
}

.signin .btn-command .panel-col {
  vertical-align: top;
}

.signin .btn-command .panel-col.col-iconleft {
  width: 30px;
}

.signin .btn-command i {
  position: relative;
}

.signin .btn-command i.fa-user-plus {
  top: 4px;
}

.signin .btn-command i.fa-lock {
  top: 2px;
}

@media screen and (max-width: 417px) {
  .signin .panel {
    width: 100%;
  }
}
.createnewaccount .panel {
  width: 743px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.createnewaccount .panel .page-heading {
  border-bottom: 1px dashed #ddd;
}

.createnewaccount .panel .page-body {
  padding-top: 8px;
}

.createnewaccount .addedit.dialogin .form-col.label-col {
  width: 354px;
}

@media screen and (max-width: 760px) {
  .createnewaccount .panel {
    width: 100%;
  }

  .createnewaccount .addedit.dialogin .form-col.label-col {
    width: 50%;
  }
}
@media screen and (max-width: 508px) {
  .createnewaccount .addedit.dialogin .form .form-col,
.createnewaccount .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .createnewaccount .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .createnewaccount .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .createnewaccount .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }
}
.activateaccount .panel {
  width: 743px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.activateaccount .panel .page-heading {
  border-bottom: 1px dashed #ddd;
}

.activateaccount .panel .page-body {
  padding-top: 8px;
}

.activateaccount .view .btn-command .btn {
  width: 100%;
}

.activateaccount .iform .iform-col.colhead {
  width: 354px;
}

@media screen and (max-width: 760px) {
  .activateaccount .panel {
    width: 100%;
  }

  .activateaccount .iform .iform-col.colhead {
    width: 50%;
  }
}
@media screen and (max-width: 516px) {
  .activateaccount .iform .iform-col.colhead:nth-child(2) {
    display: none;
  }

  .activateaccount .iform,
.activateaccount .iform .iform-row,
.activateaccount .iform .iform-col,
.activateaccount .iform .iform-col.colhead,
.activateaccount .iform .iform-col .lang {
    display: block;
    width: 100%;
    text-align: left;
  }

  .activateaccount .iform .iform-col.label-col {
    padding-top: 0;
    padding-bottom: 0;
  }

  .activateaccount .iform .iform-col.input-col {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .activateaccount .iform .iform-row:last-child .iform-col.input-col {
    padding-bottom: 0;
  }
}
.requestpassword .modal-dialog {
  vertical-align: middle !important;
  max-width: 800px;
}

.requestpassword .addedit.dialogin .form {
  width: 100%;
}

.requestpassword .addedit.dialogin .form-col.label-col {
  width: 191px;
}

@media screen and (max-width: 477px) {
  .requestpassword .addedit.dialogin .form .form-col,
.requestpassword .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .requestpassword .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .requestpassword .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .requestpassword .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }
}
.editaccount .modal-dialog {
  max-width: 732px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _:-ms-lang(x),
_:-webkit-full-screen,
.editaccount .modal-dialog {
    max-width: 743px;
  }

  ::i-block-chrome,
.editaccount .modal-dialog {
    max-width: 738px;
  }
}
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .editaccount .modal-dialog {
    max-width: 743px;
  }
}
.editaccount .addedit.dialogin .form {
  width: 100%;
}

.editaccount .addedit.dialogin .form-col.label-col {
  width: 179px;
}

@media screen and (max-width: 477px) {
  .editaccount .addedit.dialogin .form .form-col,
.editaccount .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .editaccount .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .editaccount .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .editaccount .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }
}
.application .panel .page-heading {
  border-bottom: 1px dashed #DDDDDD;
}

.application .panel .page-body {
  padding: 6px 10px 0 10px;
}

.application .tab-content .alert.alert-info {
  padding-top: 8px;
}

.application .addedit.dialogin .form:not(.vertical) .form-col.label-col {
  width: 320px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _:-ms-lang(x),
_:-webkit-full-screen,
.application .addedit.dialogin .form:not(.vertical) .form-col.label-col {
    width: 328px;
  }

  ::i-block-chrome,
.application .addedit.dialogin .form:not(.vertical) .form-col.label-col {
    width: 326px;
  }
}
@media screen and (min-width: 0\0 ) {
  .application .addedit.dialogin .form:not(.vertical) .form-col.label-col {
    width: 328px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .application .panel .alert.alert-warning {
    padding-top: 9px;
  }

  .application .tab-content .alert.alert-info {
    padding-top: 10px;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
.application .panel .alert.alert-warning {
    padding-top: 7px;
  }

  _:-ms-lang(x),
_:-webkit-full-screen,
.application .tab-content .alert.alert-info {
    padding-top: 8px;
  }
}
@media screen and (max-width: 1016px) and (min-width: 843px) {
  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col.todate {
    display: none;
  }

  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col .dateto {
    margin-top: 5px;
  }
}
@media screen and (max-width: 966px) and (min-width: 843px) {
  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-col,
.slideleftactive .application.studentinfo .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.studentinfo .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.personalinfo.profile .addedit.dialogin .form .form-col,
.slideleftactive .application.personalinfo.profile .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.profile .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.profile .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.personalinfo.profile .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.personalinfo.homeaddress .addedit.dialogin .form .form-col,
.slideleftactive .application.personalinfo.homeaddress .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.homeaddress .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.homeaddress .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.personalinfo.homeaddress .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col,
.slideleftactive .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.personalinfo.mailingaddress .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.personalinfo.contact .addedit.dialogin .form .form-col,
.slideleftactive .application.personalinfo.contact .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.contact .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.contact .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.personalinfo.contact .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col,
.slideleftactive .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.personalinfo.emergencycontact .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.academicinfo.curedu .addedit.dialogin .form .form-col,
.slideleftactive .application.academicinfo.curedu .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.academicinfo.curedu .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.academicinfo.curedu .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.academicinfo.curedu .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col,
.slideleftactive .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.academicinfo.englishproficiency .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .slideleftactive .application.uploaddocuments .addedit.dialogin .form .form-col,
.slideleftactive .application.uploaddocuments .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .slideleftactive .application.uploaddocuments .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .slideleftactive .application.uploaddocuments .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .slideleftactive .application.uploaddocuments .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }
}
@media screen and (max-width: 713px) {
  .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col {
    display: block;
    width: 100%;
  }

  .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col.todate {
    display: none;
  }

  .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col .dateto {
    margin-top: 5px;
  }
}
@media screen and (max-width: 663px) {
  .application.studentinfo .addedit.dialogin .form .form-col,
.application.studentinfo .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.studentinfo .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.studentinfo .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.studentinfo .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.personalinfo.profile .addedit.dialogin .form .form-col,
.application.personalinfo.profile .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.personalinfo.profile .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.personalinfo.profile .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.personalinfo.profile .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.personalinfo.homeaddress .addedit.dialogin .form .form-col,
.application.personalinfo.homeaddress .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.personalinfo.homeaddress .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.personalinfo.homeaddress .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.personalinfo.homeaddress .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col,
.application.personalinfo.mailingaddress .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.personalinfo.mailingaddress .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.personalinfo.mailingaddress .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.personalinfo.contact .addedit.dialogin .form .form-col,
.application.personalinfo.contact .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.personalinfo.contact .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.personalinfo.contact .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.personalinfo.contact .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col,
.application.personalinfo.emergencycontact .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.personalinfo.emergencycontact .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.personalinfo.emergencycontact .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.academicinfo.curedu .addedit.dialogin .form .form-col,
.application.academicinfo.curedu .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.academicinfo.curedu .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.academicinfo.curedu .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.academicinfo.curedu .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col,
.application.academicinfo.englishproficiency .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.academicinfo.englishproficiency .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.academicinfo.englishproficiency .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.uploaddocuments .addedit.dialogin .form .form-col,
.application.uploaddocuments .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.uploaddocuments .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.uploaddocuments .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.uploaddocuments .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }

  .application.declaration .addedit.dialogin .form .form-col,
.application.declaration .addedit.dialogin .form .form-col.input-col .btn-command .btn {
    display: block;
    width: 100%;
  }

  .application.declaration .addedit.dialogin .form .form-col.label-col {
    padding-bottom: 0;
    text-align: left !important;
    font-weight: 400;
    white-space: normal;
    width: 100%;
  }

  .application.declaration .addedit.dialogin .form .form-col.input-col {
    padding: 3px 0 0 0;
  }

  .application.declaration .addedit.dialogin .form .form-row:last-child .form-col.input-col .btn-command .btn {
    margin-top: 7px;
    margin-left: 0;
  }
}
@media screen and (max-width: 435px) {
  .application.personalinfo .nav-tabs > li {
    display: block;
    left: 0;
    background: none;
    border-left: none;
  }

  .application.personalinfo .nav-tabs > li,
.application.personalinfo .nav-tabs > li > a {
    width: 100%;
  }

  .application.personalinfo .nav-tabs > li {
    margin: 0 0 5px 0;
  }

  .application.personalinfo .nav-tabs > li:last-child {
    margin-bottom: 0;
    padding-right: 0;
  }

  .application.personalinfo .nav-tabs > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .application.academicinfo .nav-tabs > li {
    display: block;
    left: 0;
    background: none;
    border-left: none;
  }

  .application.academicinfo .nav-tabs > li,
.application.academicinfo .nav-tabs > li > a {
    width: 100%;
  }

  .application.academicinfo .nav-tabs > li {
    margin: 0 0 5px 0;
  }

  .application.academicinfo .nav-tabs > li:last-child {
    margin-bottom: 0;
    padding-right: 0;
  }

  .application.academicinfo .nav-tabs > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 375px) {
  .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col {
    display: block;
    width: 100%;
  }

  .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col.todate {
    display: none;
  }

  .application.studentinfo .addedit.dialogin .form .form-col.input-col.input-daterange .panel-col .dateto {
    margin-top: 5px;
  }
}
.application.personalinfo .panel .page-body {
  padding: 0;
}

.application.personalinfo .tab-content .panel .page-body {
  padding: 6px 10px 0 10px;
}

.application.academicinfo .panel .page-body {
  padding: 0;
}

.application.academicinfo .tab-content .panel .page-body {
  padding: 6px 10px 0 10px;
}

@media screen and (max-width: 199px) {
  .application.uploaddocuments .form-col.input-col .uploadaction a {
    display: block;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #CCCCCC;
  }
}
.application.declaration .panel .page-body {
  padding-top: 15px;
}

.application.declaration .addedit.dialogin .form-col .panel-table .panel-col:first-child {
  width: 25px;
}

.application.applicationview .panel .page-body {
  padding: 0;
}

.application.applicationview uib-accordion .panel-group .panel {
  border-right: none;
  border-left: none;
}

.application.applicationview uib-accordion .panel-group .panel:first-child {
  border-top: none;
}

.application.applicationview uib-accordion .panel-group .panel:last-child.panel-open {
  border-bottom: none;
}

.application.applicationview uib-accordion .panel-group .panel:last-child .panel-body {
  padding-bottom: 0;
}

.application.applicationview .iform .iform-col.colhead {
  width: 50%;
}

.application.applicationview .form .form-col .panel-table .panel-col:first-child {
  width: 25px;
}

@media screen and (max-width: 630px) {
  .application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-col.colhead:nth-child(2) {
    display: none;
  }

  .application.applicationview uib-accordion .panel-group .panel .panel-body .iform,
.application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-row,
.application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-col,
.application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-col.colhead,
.application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-col .lang {
    display: block;
    width: 100%;
    text-align: left;
  }

  .application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-col.label-col {
    padding-top: 0;
    padding-bottom: 0;
  }

  .application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-col.input-col {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .application.applicationview uib-accordion .panel-group .panel .panel-body .iform .iform-row:last-child .iform-col.input-col {
    padding-bottom: 0;
  }
}
.termserviceconsent .panel {
  width: 768px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.termserviceconsent .panel .page-heading {
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-bottom: 1px dashed #ddd;
}

.termserviceconsent .panel .page-body {
  padding-top: 8px;
}

.termserviceconsent .panel .page-body,
.privacypolicy .modal-dialog .modal-body {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  word-spacing: 0;
  text-align: justify;
  text-justify: distribute;
  letter-spacing: 0;
}

.termserviceconsent .panel .page-body .error-list ul li,
.privacypolicy .modal-dialog .modal-body .error-list ul li {
  padding-left: 35px;
}

.termserviceconsent .panel .page-body .error-list ul li:before,
.privacypolicy .modal-dialog .modal-body .error-list ul li:before {
  color: #000000;
  left: 15px;
  line-height: 0.9;
  content: "•";
  font-size: 32px;
}

.termserviceconsent .panel .page-body .alert .error-list ul li:before,
.privacypolicy .modal-dialog .modal-body .error-list ul li:before {
  color: inherit;
}

.termserviceconsent .panel .page-body .alert,
.privacypolicy .modal-dialog .modal-body .alert {
  padding: 10px 20px 10px 20px;
}

@media screen and (max-width: 787px) {
  .termserviceconsent .panel {
    width: 100% !important;
  }

  .termserviceconsent .panel .page-body,
.privacypolicy .modal-dialog .modal-body {
    text-align: left !important;
  }
}
.privacypolicy .modal-dialog {
  max-width: 780px;
}

.privacypolicy .modal-dialog .modal-body {
  padding: 0 10px 10px 10px !important;
}

/*
.termserviceconsent .navigation ul li.colshow {
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
}
*/
/*
#privacypolicyconsent-banner {
	bottom: 0 !important;
	width: 100%;
	background: #3B4045;
	padding: 10px;
	z-index: 10010 !important;
}

#privacypolicyconsent-banner .link {
	color: #FFFFFF !important;
}

.privacypolicy .modal-dialog {
	max-width: 768px;
}

#privacypolicyconsent-banner,
.privacypolicy .dialogin .panel-body {
	white-space: normal;
	word-wrap: break-word;
	word-spacing: -1px;
	text-align: left;
	text-justify: distribute;	
	letter-spacing: 0;
}

.privacypolicy .dialogin .panel-body .error-list ul li {
	padding-left: 30px;
}

.privacypolicy .dialogin .panel-body .error-list ul li:before {
	color: #000000;
	left: 15px;
	line-height: 0.85;
	content: "\2022";
	font-size: 32px;
}

.privacypolicy .dialogin .panel-body .alert {
	border: 1px solid #EEEEEE;
	border-left-color: #CE4844;
	border-left-width: 5px;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
}
*/
